doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    meta(charset="utf-8")
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("assets/lib/ldui/ldui.min.css")
    +css("assets/lib/ldr/ldr.css")
    +css("css/index.css")

  body: .p-4
    .w-1024.mx-auto.rwd.typeset.heading-contrast 
      h1 ldResize
      p a simple bounding box widget empowering users with the ability to move, rotate or scale anything.
      br
      .position-relative.w-100
        svg#svg.border.rounded.w-100.shadow-sm.position-absolute(style="top:0;left:0;height:400px;background:#f9fbfd")
          include svg.pug
        svg#svg2.w-100(style="top:0;left:0;position:absolute;height:400px;")

    +script("assets/lib/ldui/ldui.min.js")
    +script("assets/lib/ldr/ldr.js")
    +script("js/index.js")
