doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="ldr.css")
    script(src="//cdn.loading.io/ldQuery/latest/ldq.min.js")
  body
    svg#svg(style="width:800px;height:500px;background:#f1f2f3")
      include ps.svg
    div(style="height:2000px")

    script(src="ldr.js")
    script(src="index.js")
