doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="ldr.css")
    link(rel="stylesheet",type="text/css",href="main.css")
    script(src="https://cdn.loading.io/ldQuery/latest/ldq.min.js")
  body
    svg#svg(style="width:800px;height:500px;background:#f1f2f3",viewBox="0 0 800 500")
      include test.pug
    div(style="height:2000px")

    //-script(src="ldr.js")
    //-script(src="work.js")
    script(src="main.js")
    script(src="index.js")
