.ldr-ctrl.bbox {
  stroke: #444;
  stroke-width: 1;
  fill: none;
  pointer-events: none;
}
.ldr-ctrl.r {
  cursor: url("rotate.cur"), auto;
  opacity: 0.01;
  fill: #fff;
}
.ldr-ctrl.s {
  fill: #fff;
  stroke: #222;
  stroke-width: 1;
  cursor: move;
}
